language: php

php:
    - 7.1
    - 7.2
    - 7.3
    - 7.4

before_script:
    - composer self-update
    - composer update

script: vendor/bin/phpunit -c . --coverage-text

notifications:
    email:
        - "andreasprega@gmail.com"
