<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    bootstrap                   = "vendor/autoload.php" >

    <testsuites>
        <testsuite name="BreadcrumbBundle for the Symfony Framework">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener" />
    </listeners>

</phpunit>
